Django==1.6.1
Markdown==2.4
Pillow==2.4.0
South==0.8.4
app-version==0.1.2
django-appconf==0.6
django-autofixture==0.6.3
django-classy-tags==0.5.1
django-crispy-forms==1.4.0
django-debug-toolbar==1.1
django-inspectional-registration==0.3.1
django-mptt==0.6.0
django-sekizai==0.7
django-suit==0.2.8
psycopg2==2.5.2
pytz==2014.2
six==1.6.1
sorl-thumbnail==11.12.1b
sqlparse==0.1.11
tolerance==0.1.1
wiki==0.0.23
wsgiref==0.1.2
