Django==1.6
Markdown==2.4
MySQL-python==1.2.3c1
Pillow==1.7.8
PyXML==0.8.4
South==0.8.2
ZSI==2.0
argparse==1.2.1
boto==2.6.0
distribute==0.6.34
dj-static==0.0.5
django-classy-tags==0.5.1
django-crispy-forms==1.4.0
django-mptt==0.6.0
django-sekizai==0.7
docutils==0.10
elementtree==1.2.7-20070827-preview
html5lib==0.90
lxml==3.2.3
psycopg2==2.4.2
pyparsing==1.5.5
pysqlite==2.6.3
pystache==0.5.3
python-ldap==2.4.10
python-openid==2.2.5
simplejson==2.0.9
sorl-thumbnail==11.12.1b
static==1.0.2
wiki==0.0.23
wsgiref==0.1.2
