Django==1.6.1
Pillow==2.4.0
South==0.8.4
app-version==0.1.2
django-appconf==0.6
django-autofixture==0.6.3
django-crispy-forms==1.4.0
django-debug-toolbar==1.0.1
django-inspectional-registration==0.3.1
pytz==2014.2
six==1.6.1
sqlparse==0.1.11
tolerance==0.1.1
wsgiref==0.1.2
