{% extends 'registration/registration_base.html' %}
{% load url from future %}
{% load crispy_forms_tags %}

{% block title %}Password Change{% endblock %}

{% block content_header %}Change your Password{% endblock %}

{% block body %}
{{ block.super }}
<form class="well" action="" method="post">{% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" type="submit">Save</button>
    <input type="button" name="cancel" value="Cancel" class="btn btn btn-default" id="button-id-cancel" onclick="history.go(-1);">
</form>
{% endblock %}
