{% extends 'base.html' %}
{% block title %}{{ horse.name }}{% endblock title %}
{% block content %}
    <div class="row">
        <h1>Horse Detail</h1>
    </div>
    <div class="row">
        <div class="pull-right">
            <a class="btn btn-primary" href="{% url "horse_update" horse.id %}">Edit</a>
            <a class="btn btn-danger" href="{% url "horse_delete" horse.id %}">Delete</a>
        </div>
    </div>
    <div class="row">
        <p>{{ horse.name }}</p>
        <p>{{ horse.nickname }}</p>
        <p>{{ horse.color }}</p>
        <p>{{ horse.breed }}</p>
        <p>{{ horse.height }}</p>
        <p>{{ horse.weight }}</p>
    </div>
{% endblock content %}