{% extends 'horse_base.html' %}
{% block title %}Registered Horses{% endblock %}
{% load tz %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Horses Home
                    <div class="pull-right">
                        <a class="btn btn-primary btn-sm" href="{% url "horse_create" %}"><span class="glyphicon glyphicon-plus"></span> Add Horse</a>
                    </div>
                </h1>
            </div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#FeedingTable" data-toggle="tab">Feeding Table</a></li>
                <li><a href="#Horses" data-toggle="tab">Horses</a></li>
                <li><a href="#Tasks" data-toggle="tab">Tasks</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="FeedingTable">
                    <br/>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Horse</th>
                                <th>Location</th>
                                <th>Feed</th>
                                <th>AM</th>
                                <th>PM</th>
                                <th>Beet Pulp</th>
                                <th>Rice Bran</th>
                                <th>Supplements</th>
                                <th>Hay</th>
                                <th>Turn Out</th>
                                <th>Owner</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for horse in horse_list %}
                            <tr>
                                <td><a href="{{ horse.get_absolute_url }}">{{horse.name}}</a></td>
                                <td>{{horse.location}}</td>
                                <td>{{horse.feed}}</td>
                                <td>{{horse.am_amount}}</td>
                                <td>{{horse.pm_amount}}</td>
                                <td>{{horse.beet_pulp}}</td>
                                <td>{{horse.rice_bran}}</td>
                                <td>{{horse.supplements}}</td>
                                <td>{{horse.hay}}</td>
                                <td>{{horse.turnout}}</td>
                                <td>{{horse.owner_name}}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="11">There are 0 horses in the database...</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="Horses">
                    <br/>
                {% for horse in horse_list %}
                    <ul class="media-list">
                        <li class="media">
                            <a class="pull-left" href="{{horse.get_absolute_url}}">
                            {% if horse.photo %}
                                <img class="img-thumbnail" height="84" width="84" src="{{horse.photo.url}}" alt="horse headshot">
                            {% else %}
                                <img class="img-thumbnail" height="84" width="84" src="http://placehold.it/64x64&text=No+Picture" alt="horse headshot">
                            {% endif %}
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">{{horse.name}}</h4>
                                {{horse.description}}
                            </div>
                        </li>
                    </ul>
                {% empty %}
                    <p><em>There are 0 horses in the database...</em></p>
                {% endfor %}
                </div>
                <div class="tab-pane" id="Tasks">
                    <br/>
                {% for task in tasks %}
                    {% if task.completed %}
                        <div class="alert alert-success"><strong>{{task.horse.name}}</strong> completed this task as of {{task.modified|timezone:'America/Chicago'}}</div>
                    {% else %}
                        <div class="alert alert-danger"><strong>{{task.horse.name}}</strong> needs to complete this task.</div>
                    {% endif %}
                    <h3>
                        {{task.created|timezone:'America/Chicago'}}
                        <div class="pull-right">
                            <a class="btn btn-default btn-sm" href="{% url "task_detail" task.id %}"><span class="glyphicon glyphicon-eye-open"></span> View</a>
                            <a class="btn btn-info btn-sm" href="{% url "task_update" task.id %}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                            <a class="btn btn-danger btn-sm" href="{% url "task_delete" task.id %}"><span class="glyphicon glyphicon-remove"></span> Remove</a>
                        </div>
                    </h3>
                    <h3>Program</h3>
                    <p>{{task.program}}</p>
                    <h3>Task</h3>
                    <p>{{task.task}}</p>
                    <hr/>
                {% empty %}
                    <p><em>{{horse.name}} has no tasks.</em></p>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}