{% extends 'horse_base.html' %}
{% block title %}{{ boarders.boarder_name }}{% endblock title %}
{% block content %}
    <div class="row">
	
	
	<h3>
		Name
	</h3>
		{{boarders.boarder}}
	<h3>
		Checks Paid
	</h3>
		<div>
			{{boarders.checks_paid}}
		</div>
	<h3>
		Liability Waivers
	</h3>
		<div>
			{{boarders.liab_waivers}}
		</div>	
		
		
	<h3>Contact Information
                        <div class="pull-right"><a class="btn btn-primary btn-sm" href="{% url "contactinfo_create"  %}"><span class="glyphicon glyphicon-plus"></span> Add</a></div>
                </h3>
			{% for contact in contacts %}
			 <table class="table table-bordered table-hover">
				<tr><td align="center"> Name</td> <td>{{contact.boarder_name}}</td> </tr>
				<tr><td align="center">Address</td> <td>{{contact.address}}</td> </tr>
				<tr><td align="center">City</td> <td>{{contact.City}}</td> </tr>
				<tr><td align="center">State</td> <td>{{contact.State}}</td> </tr>
				<tr><td align="center">Zip Code</td> <td>{{contact.zip_code}}</td> </tr>
				<tr><td align="center">Country</td> <td>{{contact.country}}</td> </tr>
				<tr><td align="center">Phone #</td> <td>{{contact.phone_num}}</td> </tr>
				<tr><td align="center">Email</td> <td>{{contact.email}}</td> </tr>
			</table>
              
                          <td align="center">
			{% endfor %}
    </div>
{% endblock content %}