{% extends 'base.html' %}
{% block title %}Boarder List{% endblock %}
{% block content %}
    <div class="row">
        <h1>Customers</h1>
    </div>
	<div class="row">
        <div class="pull-right">
            <a class="btn btn-primary" href="{% url "boarder_create" %}">Add Boarder</a>
        </div>
    </div>
    <div class="row">
    </div>
    <h2>Boarder List<h2>
    {% for boarder in boarders_list %}
        <div class="row">
            <h3><a href="{% url "boarder_detail" boarder.id %}">{{ boarder.boarder}}</a></h3>
        
    </div>
    {% endfor %}
    <div align="center">
    <div class="row">
            <h3><a href="{% url "customer_list" %}">Back</a></h3>
		</div>
    <div>
{% endblock content %}