{% extends 'base.html' %}
{% block title %}Boarder List{% endblock %}
{% block content %}
    <h1>Customers</h1>
    <ul class="nav nav-tabs">
        <li ><a href=" {% url "boarder_list" %} ">Boarders</a></li>
        <li class="active"><a href=" {% url "owner_list" %} ">Owners</a></li>
    </ul>
    
	<div class="row">
        <div class="pull-right">
            <a class="btn btn-primary" href="{% url "owner_create" %}">Add Owner</a>
        </div>
    </div>
    <div class="row">
    </div>
    {% for own in owners_list %}
        <div class="row">
            <h3><a href="{% url "owner_detail" own.id %}">{{ own.owner}}</a></h3>
        
    </div>
    {% endfor %}
    <div align="center">
     <div class="row">
            <h3><a href="{% url "customer_list" %}">Back</a></h3>
		</div>
    
{% endblock content %}