{% extends 'base.html' %}
{% block title %}{{ log.desc }}{% endblock title %}
{% block content %}
    <div class="row">
        <h1>Log Detail</h1>
    </div>
    <div class="row">
        <div class="pull-right">
            <a class="btn btn-primary" href="{% url "log_update" horse.id %}">Edit</a>
            <a class="btn btn-danger" href="{% url "log_delete" horse.id %}">Delete</a>
        </div>
    </div>
    <div class="row">
        <p>{{ log.date }}</p>
        <p>{{ log.desc }}</p>
        <p>{{ log.details }}</p>
        <p>{{ log.auth }}</p>
    </div>
{% endblock content %}