{% extends 'base.html' %}
{% block title %}Schedule Home{% endblock %}
{% block content %}
{% load staticfiles %}
<head>
<style type="text/css">
table
{
    width:200px;
    font-size: 13pt;
    margin:0px;
    border-collapse: serparate;
}
</style>
</head>
<ul class="nav nav-tabs">
    <li class="active"><a href=" {% url "schedule_home" %} ">Calendar</a></li>
    <li><a href=" {% url "shift_list" %} ">Shifts</a></li>
</ul>

<h1> Schedule Home </h1>
<div align="right">
    <iframe src="https://www.google.com/calendar/embed?src=horsyscalendar%40gmail.com&ctz=Europe/Stockholm" style="border: 2" width="1200" height="900" frameborder="0" scrolling="no" align"middle"></iframe>
</div>
{% endblock content %}